// This is where your application styles could go.
Footer {
  display:none;
}
Header .Header-module--switcher-button--FrOpW {
  display:none !important;
}

.landing-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 4;
  padding-left: $spacing-06;
}

.PageDescription-module--page-description--I9vJW {
  padding-bottom: $spacing-07;
}
